/*----------------Ostrow Site-------------*/
body, div, h2, h3, h4, h5, h6, p, ul, ol, img {margin:0px; padding:0px; }
ol {margin-bottom: 15px; margin-left:30px}
p {margin-bottom:15px; width: 900px;}
h1 {font-size:33px; color:#34460c; margin-bottom:10px; font-weight:normal;}
h2 {font-size: 22px; color:#5c4f2f;margin-bottom: 10px; font-weight:normal}
hr {background:#D8D8D8 none repeat scroll 0 0; clear:both; color:#D8D8D8; display:block; height:1px; width:900px; margin:5px 0 15px;}

a, a:link {color:#5e6c47; text-decoration:none;}
a:hover {color:#34460c; text-decoration:underline;}
ul {list-style-type: none}

body {font-family:"Times New Roman", Times, serif;}
body {background:#e8e5d4 center; }

#main {
    width:1237px;
    margin: auto auto;
      }
      
.container {
    width: 1237px;
    margin-left: auto auto;
    background: url(images/bothtwo.jpg) repeat-y ;
            }            
.group:after {
  content: "";
  display: table;
  clear: both;
}

.center {text-align: center}
.float_left {float:left; padding-right: 10px}
.float_right {float:right; padding-left: 10px}
.float_center {display: block; margin-left: 40px}
.xbullets {text-decoration: none}
.nav_spacing {margin-bottom: 10px; margin-top: 10px}
.twitter-timeline {padding-left: 150px}
.parax {margin-bottom:5px}
.pubs {padding-left:22px; text-indent:-22px;}


#header {background:url(images/header.jpg) no-repeat center top; float:center; width:1237px; height:276px; text-indent:-9999px; }
#header a {display:block; float:center; margin:10px 26px 0 0; text-indent:0px;}
#nav {float:left; width:280px; }


#nav ul {
list-style: none;
}

#nav ul li a {
font-size: 20px;
color: #34460c;
text-decoration: none;
padding-left: 40px;
}
ul #nav li {
float: left;}

#content {float: left; width: 950px;}

#footer {background:url(images/footer.jpg); height:62px; width:1237px}
#footer {color: #ffffff; padding-top: 15px}
/*.drexel_logo {float:left; padding-left: 230px; padding-right: 20px}
.twitter_banner {float:right; padding-right:100px}*/
.footer_spacing {float:left; padding-left: 230px; no-repeat}